LibTrayHook/.vs/
LibTrayHook/LibTrayHook/x64/
LibTrayHook/x64/Debug/*.exp
LibTrayHook/x64/Debug/*.pdb
LibTrayHook/x64/Release/*.exp
LibTrayHook/x64/Release/*.pdb

NotifyTrayServer/*.user
build-NotifyTrayServer-Desktop_Qt_5_12_12_MinGW_64_bit-Debug/
build-NotifyTrayServer-Desktop_Qt_5_12_12_MinGW_64_bit-Release/

NotifyTrayClient/*.user
build-NotifyTrayClient-Desktop_Qt_5_12_12_MinGW_64_bit-Debug/
build-NotifyTrayClient-Desktop_Qt_5_12_12_MinGW_64_bit-Release/

ScanTray/.vs/
ScanTray/ScanTray/x64/
ScanTray/x64/Debug/*.pdb
ScanTray/x64/Release/*.pdb
